@using GBX.NET

@inherits ValueRenderer
@attribute [AppliesForType(typeof(Iso4))]

@if (Value is null)
{
    <span class="element-box hoverable" data-title="The value doesn't exist. Click to create a value." @onclick="InitValue">null</span>

    @if (nullifiedValue is not null)
    {
        <span class="element-box hoverable utility" data-title="Revert value that was there before." @onclick="Revert">Revert</span>
    }
}
else if (Value is Iso4 iso4)
{
    var cannotWrite = Property?.CannotWrite() == true;

    <div class="iso-grid">
        <input type="text" @bind="XX" disabled="@cannotWrite" style="width: @(XX.ToString().Length)ch;" oninput="onInputText(this)" />
        <input type="text" @bind="XY" disabled="@cannotWrite" style="width: @(XY.ToString().Length)ch;" oninput="onInputText(this)" />
        <input type="text" @bind="XZ" disabled="@cannotWrite" style="width: @(XZ.ToString().Length)ch;" oninput="onInputText(this)" />
        <input type="text" @bind="YX" disabled="@cannotWrite" style="width: @(YX.ToString().Length)ch;" oninput="onInputText(this)" />
        <input type="text" @bind="YY" disabled="@cannotWrite" style="width: @(YY.ToString().Length)ch;" oninput="onInputText(this)" />
        <input type="text" @bind="YZ" disabled="@cannotWrite" style="width: @(YZ.ToString().Length)ch;" oninput="onInputText(this)" />
        <input type="text" @bind="ZX" disabled="@cannotWrite" style="width: @(ZX.ToString().Length)ch;" oninput="onInputText(this)" />
        <input type="text" @bind="ZY" disabled="@cannotWrite" style="width: @(ZY.ToString().Length)ch;" oninput="onInputText(this)" />
        <input type="text" @bind="ZZ" disabled="@cannotWrite" style="width: @(ZZ.ToString().Length)ch;" oninput="onInputText(this)" />
        <input type="text" @bind="TX" disabled="@cannotWrite" style="width: @(TX.ToString().Length)ch;" oninput="onInputText(this)" />
        <input type="text" @bind="TY" disabled="@cannotWrite" style="width: @(TY.ToString().Length)ch;" oninput="onInputText(this)" />
        <input type="text" @bind="TZ" disabled="@cannotWrite" style="width: @(TZ.ToString().Length)ch;" oninput="onInputText(this)" />
    </div>

    <div class="pitch-yaw-roll-grid">
        <span>Pitch:</span>
        <input type="text" @bind="Pitch" disabled="@cannotWrite" style="width: @(Pitch.ToString().Length)ch;" oninput="onInputText(this)" />
        <span>Yaw:</span>
        <input type="text" @bind="Yaw" disabled="@cannotWrite" style="width: @(Yaw.ToString().Length)ch;" oninput="onInputText(this)" />
        <span>Roll:</span>
        <input type="text" @bind="Roll" disabled="@cannotWrite" style="width: @(Roll.ToString().Length)ch;" oninput="onInputText(this)" />
        <span>Position</span>
        <span>&nbsp;</span>
    </div>

    <div class="pitch-yaw-roll-grid">
        <span>Scale X:</span>
        <input type="text" @bind="ScaleX" disabled="@cannotWrite" style="width: @(ScaleX.ToString().Length)ch;" oninput="onInputText(this)" />
        <span>Scale Y:</span>
        <input type="text" @bind="ScaleY" disabled="@cannotWrite" style="width: @(ScaleY.ToString().Length)ch;" oninput="onInputText(this)" />
        <span>Scale Z:</span>
        <input type="text" @bind="ScaleZ" disabled="@cannotWrite" style="width: @(ScaleZ.ToString().Length)ch;" oninput="onInputText(this)" />
        <span>&nbsp;</span>
    </div>
    
    @if (!cannotWrite && IsNullable)
    {
        <span class="element-box hoverable utility" data-title="Set this member to null." @onclick="Nullify">Nullify</span>
    }
}
else
{
    <span>Error: value is not Iso4</span>
}

@code {
    private object? nullifiedValue;

    public override bool ShowPropertyInTree(PropertyInfo prop) => false;

    public float XX
    {
        get => Value is Iso4 iso4 ? iso4.XX : 0;
        set => SetAndUpdate(Value is Iso4 iso4 ? iso4 with { XX = value } : new Iso4(value, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0));
    }

    public float XY
    {
        get => Value is Iso4 iso4 ? iso4.XY : 0;
        set => SetAndUpdate(Value is Iso4 iso4 ? iso4 with { XY = value } : new Iso4(0, value, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0));
    }

    public float XZ
    {
        get => Value is Iso4 iso4 ? iso4.XZ : 0;
        set => SetAndUpdate(Value is Iso4 iso4 ? iso4 with { XZ = value } : new Iso4(0, 0, value, 0, 0, 0, 0, 0, 0, 0, 0, 0));
    }

    public float YX
    {
        get => Value is Iso4 iso4 ? iso4.YX : 0;
        set => SetAndUpdate(Value is Iso4 iso4 ? iso4 with { YX = value } : new Iso4(0, 0, 0, value, 0, 0, 0, 0, 0, 0, 0, 0));
    }

    public float YY
    {
        get => Value is Iso4 iso4 ? iso4.YY : 0;
        set => SetAndUpdate(Value is Iso4 iso4 ? iso4 with { YY = value } : new Iso4(0, 0, 0, 0, value, 0, 0, 0, 0, 0, 0, 0));
    }

    public float YZ
    {
        get => Value is Iso4 iso4 ? iso4.YZ : 0;
        set => SetAndUpdate(Value is Iso4 iso4 ? iso4 with { YZ = value } : new Iso4(0, 0, 0, 0, 0, value, 0, 0, 0, 0, 0, 0));
    }

    public float ZX
    {
        get => Value is Iso4 iso4 ? iso4.ZX : 0;
        set => SetAndUpdate(Value is Iso4 iso4 ? iso4 with { ZX = value } : new Iso4(0, 0, 0, 0, 0, 0, value, 0, 0, 0, 0, 0));
    }

    public float ZY
    {
        get => Value is Iso4 iso4 ? iso4.ZY : 0;
        set => SetAndUpdate(Value is Iso4 iso4 ? iso4 with { ZY = value } : new Iso4(0, 0, 0, 0, 0, 0, 0, value, 0, 0, 0, 0));
    }

    public float ZZ
    {
        get => Value is Iso4 iso4 ? iso4.ZZ : 0;
        set => SetAndUpdate(Value is Iso4 iso4 ? iso4 with { ZZ = value } : new Iso4(0, 0, 0, 0, 0, 0, 0, 0, value, 0, 0, 0));
    }

    public float TX
    {
        get => Value is Iso4 iso4 ? iso4.TX : 0;
        set => SetAndUpdate(Value is Iso4 iso4 ? iso4 with { TX = value } : new Iso4(0, 0, 0, 0, 0, 0, 0, 0, 0, value, 0, 0));
    }

    public float TY
    {
        get => Value is Iso4 iso4 ? iso4.TY : 0;
        set => SetAndUpdate(Value is Iso4 iso4 ? iso4 with { TY = value } : new Iso4(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, value, 0));
    }

    public float TZ
    {
        get => Value is Iso4 iso4 ? iso4.TZ : 0;
        set => SetAndUpdate(Value is Iso4 iso4 ? iso4 with { TZ = value } : new Iso4(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, value));
    }

    public float Pitch
    {
        get => Value is Iso4 iso4 ? iso4.GetPitch(inDegrees: true) : default;
        set { }
    }

    public float Yaw
    {
        get => Value is Iso4 iso4 ? iso4.GetYaw(inDegrees: true) : default;
        set { }
    }

    public float Roll
    {
        get => Value is Iso4 iso4 ? iso4.GetRoll(inDegrees: true) : default;
        set { }
    }

    public float ScaleX
    {
        get => Value is Iso4 iso4 ? iso4.GetScaleX() : default;
        set => SetAndUpdate(Value is Iso4 iso4 ? iso4.SetScaleX(value) : new Iso4().SetScaleX(value));
    }

    public float ScaleY
    {
        get => Value is Iso4 iso4 ? iso4.GetScaleY() : default;
        set => SetAndUpdate(Value is Iso4 iso4 ? iso4.SetScaleY(value) : new Iso4().SetScaleY(value));
    }

    public float ScaleZ
    {
        get => Value is Iso4 iso4 ? iso4.GetScaleZ() : default;
        set => SetAndUpdate(Value is Iso4 iso4 ? iso4.SetScaleZ(value) : new Iso4().SetScaleZ(value));
    }

    private void InitValue()
    {
        SetAndUpdate(default(Iso4));
    }

    private void Nullify()
    {
        nullifiedValue = Value;
        SetAndUpdate(null);
        LogNullified(nullifiedValue);
    }

    private void Revert()
    {
        SetAndUpdate(nullifiedValue);
        LogReversion(nullifiedValue);
    }
}

