@using GBX.NET
@using GBX.NET.Engines.Game
@using GBX.NET.Attributes

@inherits ValueRenderer
@attribute [AppliesForType(typeof(CGameCtnChallenge.SBakedClipsAdditionalData))]

@if (Value is null)
{
    <span class="element-box" data-title="This value cannot be modified. Custom creation of nodes will be added later.">null</span>
}
else if (Value is CGameCtnChallenge.SBakedClipsAdditionalData val)
{
    <span class="element-box" data-title="Position of the clip is @(val.Coord).">@val.Coord</span>
    <span class="element-box" data-title="Clip1 is @("\"" + val.Clip1?.Id + "\"").">@val.Clip1?.Id</span>
    <span class="element-box" data-title="Clip2 is @("\"" + val.Clip2?.Id + "\"").">@val.Clip2?.Id</span>
    <span class="element-box" data-title="Clip3 is @("\"" + val.Clip3?.Id + "\"").">@val.Clip3?.Id</span>
    <span class="element-box" data-title="Clip4 is @("\"" + val.Clip4?.Id + "\"").">@val.Clip4?.Id</span>
}

@code {

}
