@using GBX.NET

@inherits ValueRenderer
@attribute [AppliesForType(typeof(Vec3))]

@if (Value is null)
{
    <span class="element-box hoverable" data-title="The value doesn't exist. Click to create a value." @onclick="InitValue">null</span>

    @if (nullifiedValue is not null)
    {
        <span class="element-box hoverable utility" data-title="Revert value that was there before." @onclick="Revert">Revert</span>
    }
}
else if (Value is Vec3 vec)
{
    var cannotWrite = Property?.CannotWrite() == true;
    
    <input type="text" @bind="X" disabled="@cannotWrite" style="min-width: 4ch; width: @(X.ToString().Length)ch;" oninput="onInputText(this)" />
    <input type="text" @bind="Y" disabled="@cannotWrite" style="min-width: 4ch; width: @(Y.ToString().Length)ch;" oninput="onInputText(this)" />
    <input type="text" @bind="Z" disabled="@cannotWrite" style="min-width: 4ch; width: @(Z.ToString().Length)ch;" oninput="onInputText(this)" />
    
    @if (!cannotWrite && IsNullable)
    {
        <span class="element-box hoverable utility" data-title="Set this member to null." @onclick="Nullify">Nullify</span>
    }
}
else
{
    <span>Error: value is not Vec3</span>
}

@code {
    private object? nullifiedValue;

    public override bool ShowPropertyInTree(PropertyInfo prop) => false;

    public float X
    {
        get => Value is Vec3 val ? val.X : 0;
        set
        {
            if (Value is Vec3 val)
            {
                SetAndUpdate(val with { X = value }, parent: true);
            }
            else
            {
                SetAndUpdate(new Vec3(value, 0, 0), parent: true);
            }
        }
    }

    public float Y
    {
        get => Value is Vec3 val ? val.Y : 0;
        set
        {
            if (Value is Vec3 val)
            {
                SetAndUpdate(val with { Y = value }, parent: true);
            }
            else
            {
                SetAndUpdate(new Vec3(0, value, 0), parent: true);
            }
        }
    }

    public float Z
    {
        get => Value is Vec3 val ? val.Z : 0;
        set
        {
            if (Value is Vec3 val)
            {
                SetAndUpdate(val with { Z = value }, parent: true);
            }
            else
            {
                SetAndUpdate(new Vec3(0, 0, value), parent: true);
            }
        }
    }

    private void InitValue()
    {
        SetAndUpdate(default(Vec3), parent: true);
    }

    private void Nullify()
    {
        nullifiedValue = Value;
        SetAndUpdate(null, parent: true);
        LogNullified(nullifiedValue);
    }

    private void Revert()
    {
        SetAndUpdate(nullifiedValue, parent: true);
        LogReversion(nullifiedValue);
    }
}
